<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="/src/input.css" type="text/css" rel="stylesheet">
    <link href="/src/output.css" type="text/css" rel="stylesheet">
</head>
<body class="text-white font-body_font flex">
    <div class="min-h-screen h-auto w-full flex flex-col items-center bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
        <div class="text-5xl text-yellow-400 p-14 text-center">&lt; Profile &gt;</div>
        <div class="flex gap-6">
            <div class="flex flex-col gap-6">
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="username">Username</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].username %></div>
                </div>
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="first">First Name</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].first_name %></div>
                </div>
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="contact">Contact Number</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].contact_no %></div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="email">Email</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].email %></div>
                </div>
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="last">Last Name</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].last_name %></div>
                </div>
                <div class="flex justify-between items-center gap-6 text-xl">
                    <label for="experience">Years Of Experience</label>
                    <div class="bg-white text-black w-[400px] p-2 rounded-md"><%= rows[0].years_of_experience %></div>
                </div>
            </div>            
        </div>
        <form action="/signout" method="GET">
            <button type="submit" class="bg-gradient-to-b from-lime-700 to-lime-900 text-xl px-4 py-2 rounded-full transform transition-transform duration-150 ease-in-out active:scale-95 mt-10">Sign Out</button>
        </form>
    </div>
    
</body>
</html>