<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuctionBay</title>
    <link href="/src/input.css" type="text/css" rel="stylesheet">
    <link href="/src/output.css" type="text/css" rel="stylesheet">
    <style>
        strong{
            color: yellow;
        }
        .disabled {
            background-color: grey;
            cursor: not-allowed;
            opacity: 0.5;
        }
    </style>
</head>
<body class="text-white font-body_font flex">
    <div class="min-h-screen h-auto w-full flex flex-col items-center bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
        <div class="text-5xl text-yellow-400 p-14 text-center">&lt; Start &gt;</div>
        <div class="flex w-full">
            <div class="flex flex-col justify-start gap-4 w-[65%] px-8">        
                <div class="text-2xl"><strong>Company Type:</strong> <%= type %></div>        
                <div class="text-2xl"><strong>Company Name:</strong> <%= name %></div>
                <div class="text-2xl"><strong>Title:</strong> <%= title %></div>
                <div class="text-2xl"><strong>Description:</strong> <%= description %></div>        
                <div class="text-2xl"><strong>Auction type:</strong> <%= auction %></div>
                <div class="text-2xl"><strong>Starting amount:</strong> <%= price %></div>
                <div class="text-2xl"><strong>Date:</strong> <%= date %></div>
                <div class="text-2xl"><strong>Time:</strong> <%= time %></div>
            </div>
            <div class="flex flex-col items-center gap-4 justify-start px-8 mb-8">
                <div class="flex flex-col gap-2">
                    <% if (imagePath) { %>
                        <div class="text-2xl"><strong>Image:</strong></div>
                        <img src="/uploads/<%= imagePath %>" alt="Image" class="h-[300px] object-cover border border-white">
                    <% } else { %>
                        <div class="text-2xl"><strong>No Image Available</strong></div>
                    <% } %>
                </div>
                <form action="/wishlist" method="POST">
                    <input type="hidden" name="user_id" value="<%= user_id %>">
                    <input type="hidden" name="bid_id" value="<%= bid_id %>">
                    <input type="hidden" name="title" value="<%= title %>">
                    <button type="submit" class="wishlist bg-gradient-to-b from-cyan-700 to-cyan-900 rounded-lg p-2 text-xl transform transition-transform duration-150 ease-in-out active:scale-95">Save to wishlist</button>
                </form>
                <div class="text-center text-xl">Auction will be activated on <%= date %> at <%= time %></div>
                <form action="/bid" method="POST">
                    <input type="hidden" name="user_id" value="<%= user_id %>">
                    <input type="hidden" name="bid_id" value="<%= bid_id %>">
                    <input type="hidden" name="auction" value="<%= auction %>">
                    <input type="hidden" name="price" value="<%= price %>">
                    <button type="submit" id="startBiddingBtn" class="bg-gradient-to-b from-cyan-700 to-cyan-900 rounded-lg p-2 disabled text-xl transform transition-transform duration-150 ease-in-out active:scale-95" disabled>Start</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const startBiddingBtn = document.getElementById('startBiddingBtn');
            const bidDate = new Date('<%= date %> <%= time %>');
            function checkBidTime() {
                const currentTime = new Date();
                if (currentTime >= bidDate) {
                    startBiddingBtn.disabled = false;
                    startBiddingBtn.classList.remove('disabled');
                } else {
                    setTimeout(checkBidTime, 1000);
                }
            }
            checkBidTime();
        });
    </script>
</body>
</html>
